

  <section>
    <div class="bar-1">
      <div class="mt-5 background-border"></div>
      <div class="play-code">
        <p>PLAY<BR> CODE</p>
      </div>
    </div>



    <div class="bar-2 mt-4">
      <div class="row header-text">
        <div class="col-md-5 txt-left">
          <h2>A whole new <br>gaming<br> experience<br> is here  </h2>
          <div style="width: 60px;height: 8px;background-color: #ffffff;border-radius: 50px;"></div>
          <hr class="left ">
          <p class="text-light-50">All the games you love and a<br> little bit of more.</p>
        </div>
        <div class="col-md-7">
          <img src="../../assets/images/gamepad.png" class="img-responsive" width="80%"  alt="gpad-home">
        </div>
      </div>
    </div>




    <div class="bar-3">
      <div class="row no-gutter">
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
          <div class="row" >
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 >">

            </div>
          </div>  <!-- hidden-xs hidden-sm  -->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
          <div class="icon-top">
            <a href="#" ><i class="fa fa-user-alt"></i></a>
          </div>
          <div class="icon-bar">
            <a href="#"><img src="../../assets/images/icon/download.png" alt="download icon"></a>
            <a href="#"><img src="../../assets/images/icon/customize.png" alt="customize icon"></a>
            <hr style="width:13px;background:#02ffa2;margin:5px auto"/>
            <a href="#"><img src="../../assets/images/icon/gear.png" alt="gear icon"></a>
            <a href="#"><img src="../../assets/images/icon/card.png" alt="card icon"></a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
        <button class="btn-black-custom btn-bold">Sign up</button><br><br>
        <a href="#"><img class="mt-4" src="../../assets/images/icon/arrowlist_down.png" alt="card icon"></a>
      </div>

      <br><br><br><br><br>

    </div>



  </section>
