



<!-- Header -->
<app-header-template>
  <!-- Main Container -->
  <section headerContent>


    <div class="container">
      <div class="mt-5 form row" >
        <div class="mt-2 col-md-6 mx-auto">
          <app-searchbar></app-searchbar>
        </div>
      </div>


      <div class="mt-5 mb-4" style="font-size: 0.8em !important;">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div>
              <h3 class="float-left text-light-50">
                <strong><span>Super mario</span></strong>
                <br><small style="font-size: small">Game Review</small>
              </h3><!--<h6 class="text-white-50 float-right" style="color:#6c63ff;margin-top:10px;"><strong>Game Review</strong></h6>-->
            </div>
            <div class="clearfix"></div>


            <div class="box_border p-4 mt-4"  *ngFor="let i of [1,2,3,1,2,3,1,2,3]">
              <p>
                <img style="height:10px;" src="../../../assets/images/icon/star.png" alt=""><br>
                Bubsy Mc Feezle, 06/21/2019
              </p>
              <p class="mt-3">
                The graphics are cool looking, and the controls handle better than most games, there are free cars
                and maps and is a great little app to pass the time and the controls handle better than most games, there are free cars
                and maps and is a great little app to pass the time…
              </p>
            </div>

            <div class="text-center mt-5">
              <a class="btn btn-primary-dark" routerLink="/game/profile">COLLAPSE</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>
</app-header-template>











<div class="clearfix"></div>
<div style="margin:50px">&nbsp;</div>


