

<!-- Footer Section -->
<div class="clearfix"></div>
<div>
  <footer class="mt-5 container">
    <div class="mt-5 mb-4 pt-4 text-center" style="border-top: solid 1px #6c63ff;font-size: 0.9em !important;">
      <div class="pull-left text-light-50">
        <img style="height:40px;" class="pull-left mt-2 mr-4" src="../../../../assets/images/favicon_with_text.png" alt="" />

        <div class="pull-left mt-3">
          Copyright © 2019 Buffer. All rights reserved.
        </div>

        <div class="pull-right mt-3 ml-5">
          <a class="text-light-50 mr-3" href="#">Privacy</a>
          <a class="text-light-50 mr-3" href="#">Terms</a>
          <a class="text-light-50 mr-3" href="#">Legal</a>
        </div>
      </div>


      <p class="pull-right mt-3">
        <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/youtube.png" alt=""></a>
        <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/instagram.png" alt=""></a>
        <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/twitter.png" alt=""></a>
        <a class="mr-3" href="#"><img style="width:auto;height:15px;" src="../../../../assets/images/social/facebook.png" alt=""></a>
      </p>
    </div>
  </footer>
</div>

