
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}






/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video*/

/*

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@font-face {
  font-family: 'pantonblack_caps';
  src: url('fonts.text/panton-blackcaps-webfont.woff2') format('woff2'),
  url('fonts.text/panton-blackcaps-webfont.woff') format('woff'),
  url('fonts.text/Panton-BlackCaps.otf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

!* signika-regular - latin *!
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts.text/signika-v10-latin-regular.eot'); !* IE9 Compat Modes *!
  src: local('Signika Regular'), local('Signika-Regular'),
  url('/fonts.text/signika-v10-latin/signika-v10-latin-regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
  url('/fonts.text/signika-v10-latin/signika-v10-latin-regular.woff2') format('woff2'), !* Super Modern Browsers *!
  url('/fonts.text/signika-v10-latin/signika-v10-latin-regular.woff') format('woff'), !* Modern Browsers *!
  url('/fonts.text/signika-v10-latin/signika-v10-latin-regular.ttf') format('truetype'), !* Safari, Android, iOS *!
  url('/fonts.text/signika-v10-latin/signika-v10-latin-regular.svg#Signika') format('svg'); !* Legacy iOS *!
}

#container {
  height: auto;
  width: 100%;
  position: inherit;
  display: block;
}

* {
  box-sizing: border-box;
}

.bar-1 {
  position: absolute;
  display: block;
  height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(, rgba(2,0,36,1) 0%, rgba(7,10,52,1) 24%, rgba(11,10,15,1) 100%);
  padding-top: 0;
  width: 100vw;
}

.bar-2 {
  position: absolute;
  display: block;
  margin-top: 0;
  z-index: 2;
  width: 100vw;
  background: url("~assets/images/tri_group.png") no-repeat center;
  height: 100vh;
}


.play-code {
  padding-top: 6em;
  padding-left: 3em;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .play-code {
    width: 740px;
    height: 502px;
  }
}

.play-code > p {
  font-size: 20em;
  opacity: 0.05;
  font-family: pantonblack_caps, serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  !* letter-spacing: 25.65px; *!
  text-align: left;
  color: #ccc;
}
@media screen and (max-width: 900px) {
  div.play-code > p{
    font-size: 14em;
    font-weight: 400;
  }
}

.bar-2 > .block-1txt {
  position: relative;
  max-width:1089px;
  display: ;
  height: 500px;

  background: none;
  vertical-align: center;
  color: #ccc;
  padding:0px;
  margin-top: 10em;
  margin-left: 7em;

}

.bar-2 > .block-1txt {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;

}

@media screen and (max-width: 800px){
  .bar-2 > .block-1txt {
    margin-top: 5em;
    margin-left: 3em;

  }
}

.block-1txt > .txt-left {
  width: 60%;
  height: 100%;
  line-height: 1.0;
  color: #fff;
  font-size: 2.4em;
  font-family: 'Signika', sans-serif;

}

.block-1txt.g_pad {

  flex-basis: content;
  width: 40%;
  height: 100%;
  text-shadow: 3px #fff;

}

.bar-2 > img {
  max-width: 60%;
}
.block-1txt.g_pad > img {
  max-width: 60%;
}

.block-1txt > .txt-left > h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-shadow: 19px yellow;
}


@media screen and (max-width: 800px) {

  .block-1txt > .txt-left > h2 {
    font-size: 1.4em;
  }
  .block-1txt {
    padding-top: 3em;
    padding-right: 2em;
  }

}

.block-1txt > .txt-left > p {
  color: #f7f7f7;
  font-size: 0.4em;
  !* font-weight: 400; *!
  line-height: 1.6;
  letter-spacing: 2px;

}


.block-1txt > .txt-left > hr.left {
  text-align: left;
  margin-left: 0;
  width: 10%;
  color:#fff;
  !* background: #fff; *!

}


.bar-3 {
  position: Absolute;
  display: inline-block;
  margin-top: 0;
  z-index: 3;
  width: 100vw;
  !* background: url(images/group-63.png); *!
  background-position-x: 82% ;
  background-position-y: 0.3em;
  background-repeat: no-repeat;
  background-position: ;
  background-attachment: ;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;

  !* opacity: 0.08; *!
  height: 100vh;
}

.bar-3 .col-md-11 .col-md-12 {
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  z-index: ;
  !* background: #ccc; *!
  !* border: 0 4px ; *!
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      #6c63ff,
      rgba(0, 0, 0, 0)
    ) 1% 100%;

}
.bar-3 .icon-top {
  border-right-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to top,
      #6c63ff,
      rgba(0, 0, 0, 0)
    ) 1 100%;

}

.bar-3 .icon-bar {
  border-left-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      #6c63ff,
      rgba(0, 0, 0, 0)
    ) 1 100%;
  padding-bottom: 120px;

}

.bar-3 > .no-gutter{
  margin-right:0;
  margin-left:0;
}

.bar-3 > .col-md-1, .bar-3 > .col-sm-2 {
  padding-right:0;
  padding-left:0;
}

.icon-top {
  width:50%; !* Set a specific width *!
  background-color:none; !* Dark-grey background *!
  padding-top: 1.5em;
  position: relative;
  !* margin-left: 20px; *!
}

.icon-top a {
  display: block; !* Make the links appear below each other instead of side-by-side *!
  text-align: center; !* Center-align text *!
  padding: px; !* Add some padding *!
  transition: all 0.9s ease; !* Add transition for hover effects *!
  font-size: 18px; !* Increased font-size *!
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

.icon-top a:hover {
  background-color: #ccc; !* Add a hover color *!
}

.active {

  background-color: rgb(36, 24, 70); !* Add an active/current color *!
}


.icon-bar {

  width: 50%; !* Set a specific width *!
  background-color: none; !* Dark-grey background *!
  padding-top: 0px;
  position: relative;
  float: right;
}


.icon-bar a {
  display: block; !* Make the links appear below each other instead of side-by-side *!
  text-align: center; !* Center-align text *!
  padding: 16px; !* Add some padding *!
  transition: all 0.9s ease; !* Add transition for hover effects *!
  font-size: 22px; !* Increased font-size *!
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ccc;
}

.icon-bar a:hover {
  background-color: #ccc; !* Add a hover color *!
}

.active {
  background-color: rgb(36, 24, 70); !* Add an active/current color *!
}

.bar-3 > .col-lg-1, .col-md-1, .col-sm-2, .col-xs-2 {
  padding-right: 0;
  padding-left: 0;

}
*/
